
  #farah{
    padding-top: 50px;
    background-color: #f8f8f8;
    height: 200px;
    text-align: center;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Stack elements vertically */

  }
  #title{
    font-size: 20px;
  }
  #search{
    height: 30px;
    display: flex;
    width: 500px;
    cursor: pointer;
    padding: 10px 20px;
    background: #fff;
    border-radius: 10px;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.116);
  }
  #search input{
    width:500px ;
    border: none;
    outline: none;
    font-size: 15px;
  }
  #search input:hover{
    width:500px ;
    border: none;
    outline: none;
  }

  #search a .fas{
    color: #9a9a9a;
  }

  #buttons{
    margin-top: 50px;
   
  }
  
  #buttons button{
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin:5px;
    font-size: 14px;
    height: 30px;
    border-style: solid;
  }
  .edge-buttons{
    background-color: #8c9a3a;
    border-color: #8c9a3a;
    color: #fff;
   
  }
  .center-button{
    background-color:#f8f8f8;
    border-color: #8c9a3a;
    color: #414141;
  }

  #end {
    display: flex; 
    justify-content: space-between; 
    width: 100%; 
    margin-top: 20px; 
}

.end-section {
    padding: 10px;
    background-color: #f8f8f8; 
    
}

.left {
    flex: 1; 
    border-right-color: #414141;
    text-align: right;
    font-weight: bold;
    padding-right: 20px;
    align-content: center;
    font-size: 20px;
}

.center {
    flex: 2; 
    font-size: 13px;
    text-align: left;
}

.right {
    flex: 1; 
}
.right button{
    background-color:#f8f8f8;
    border-color: #8c9a3a;
    color: #414141;
    border-radius: 20px;
    font-size: 14px;
    height: 25px;
    width: 150px;
    border-style:  solid;
    align-content: center;
}
