#lemara1 {
  background-color: #f0f0f0;
}
#farah {
  background-color: #e6f7ff;
}
#salah {
  background-color: #ffe6cc;
}
#amjad {
  background-color: #f9f2e6;
}
#lemara2 {
  background-color: #f0e6ff;
}
#jana1 {

  .btn {
    display: flex;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  .btn-primary {
    background-color: #8fa03a;
  }

  .form-control {
    margin-bottom: 1.5rem;
    flex: 1;
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #fefefe;
    border-radius: 0.25rem;
    box-shadow: 0 20px 20px rgb(184, 182, 182);
    transition: border-color 0.3s, box-shadow 0.3s;
  }

  .form-control::placeholder {
    color: black;
  }
  .img{
    display: flex;
  }

  background-color: white;
}

#jana2 {
  .center-text p {
    margin-bottom: 0;
  }
  .list-inline-item p {
    display: inline;
    margin: 0;
  }
  .right-align {
    justify-content: flex-end;
  }
  .center-text {
    text-align: center;
  }
  .img{
    display: flex;
  }
  background-color: #8fa03a;
}
