#lemara1 {
  background-color: #f0f0f0;
}
#farah {
  background-color: #e6f7ff;
}
#salah {
  background-color: #ffe6cc;
}

#lemara2 {
  background-color: #f0e6ff;
}
#jana1 {
  background-color: #e6ffe6;
}
#jana2 {
  background-color: #fff0e6;
}

.body {
  z-index: 10;
}

.section-3-container {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  z-index: -1000;
  background-image: url('designwork/soap_flavours.png');
  background-size: contain; 
  width: 100%;
  height: 100vw;
  margin: 0;
  padding: 0;
}

.section-3-1 {
  padding: 20.5vw 0 0 5.88vw;
  display: flex;
  justify-content: space-around;
  align-items: start;
  width: 100%;
  height: 72vw;
}

.main-view > .main-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3.49vw;
  width: 28vw;
}

.main-view {
  display: flex;
  flex-direction: column;
  width: 39.32vw;
  min-height: 100px;
  padding: 0;
}

.view{
  display: flex;
  flex-direction: column;
  width: 22.7vw;
  min-height: 100px;
  padding: 0;
}

.view-item {
  display: flex;
  gap: 5px;
  font-size: 1.46vw;
}

.main-view {
  gap: 10px;
  margin-right: 100px;
}

.view button{
  background-color: #6D6D6D;
  color: white;
  font-size: 1.3vw;
  border-radius: 1.04vw;
  width: 10.83vw;
  height: 2.76vw;
  border-color: transparent;
  z-index: 100;
  margin-top: 7vw;
  margin-left: 7vw;
}

.view button:hover{
  background-color: black;
}

.section-3-2 {
  margin: 0;
  padding: 0;
  padding-top: 4vw;;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: auto;
  width: 100%;
  /* z-index: -900; */
  background-image: url('designwork/3.2-background.png');
  background-size: cover; 
  width: 100%;
  height: 29.78vw;

}
